<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="dev.habitdock.ShareReceiver" android:label="APK 测试接收器" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
    </application>
</manifest>
